@font-face {
	font-family: 'Roboto';
	src:url('/fonts/roboto-v20-latin-regular.eot');
	src:url('/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/roboto-v20-latin-regular.woff') format('woff'),
		url('/fonts/roboto-v20-latin-regular.ttf') format('ttf'),
		url('/fonts/roboto-v20-latin-regular.svg') format('svg');
}
@font-face {
	font-family: 'Roboto100';
	src:url('/fonts/roboto-v20-latin-100.eot');
	src:url('/fonts/roboto-v20-latin-100.eot?#iefix') format('embedded-opentype'),
		url('/fonts/roboto-v20-latin-100.woff') format('woff'),
		url('/fonts/roboto-v20-latin-100.ttf') format('ttf'),
		url('/fonts/roboto-v20-latin-100.svg') format('svg');
}
@font-face {
	font-family: 'Roboto300';
	src:url('/fonts/roboto-v20-latin-300.eot');
	src:url('/fonts/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'),
		url('/fonts/roboto-v20-latin-300.woff') format('woff'),
		url('/fonts/roboto-v20-latin-300.ttf') format('ttf'),
		url('/fonts/roboto-v20-latin-300.svg') format('svg');
}

body,html {
	margin: 0px;
	font-family: "Roboto300", sans-serif, Helvetica, Arial!important;
	height: auto;
	min-height: 100%;
}
form {
	margin-bottom: 0em!important;
}

a:link, a:visited, a:hover, a:active, a:focus{
	font-size: 1rem;
	text-decoration: none;
	outline:none;
	letter-spacing: 1;
}
/* h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Roboto300", sans-serif, Helvetica, Arial!important;
} */