<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand"><span style="color:#ccccff">Regam.gg</span></div>
      </div>


      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Root</a></li>
          <li><a href="/posts">Forum</a></li>
          <li><a href="/ow/donate">Donate</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/users">Users</a></li>
            <% if(isAuthenticated){ %>
              <li><a href="/users/mypage/<%= currentUser.ID %>">My Account</a></li>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
            <% } else { %>
              <li><a href="/join">Sign Up</a></li>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
            <% } %>
        </ul>
      </div>
    </div>
  </nav>