$primary: #50fdc6;
$text_grey: #a6a7a8;
$text_dark: #707070;
$text_black: #0a0a0a;
$light_grey: #ddd;
$disabled_grey: #aaa;
$green: #52c41a;
$red: #f5222d;
$yellow: #faad14;
$dark_background: rgba(0, 21, 41, 1.0);
$opacity-black: rgba(0, 0, 0, 0.6);
