<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">      
</head>

<script src="/vendor/jquery.min.js"></script>
<script src="/vendor/popper.min.js"></script>
<script src="/vendor/toastr-2.1.3.min.js"></script>
<script src="/vendor/semantic.min.js"></script>
<script src="/vendor/calendar.min.js"></script>


<link rel="stylesheet" type="text/css" class="ui" href="/vendor/semantic.min.css">

<link rel="stylesheet" href="/vendor/font-awesome.min.css">
<link rel="stylesheet" href="/vendor/toastr-2.1.3.css">
<link rel="stylesheet" href="/vendor/calendar.min.css">

<body style="padding:5px;padding-top:10px;">

  <div style="max-width:640px;margin:0 auto;box-shadow:2px 2px 8px rgba(0,0,0,0.2);">

    <div class="ui attached message">
      <div class="header">'진실의 입' 프로젝트 관리자</div>
    </div>

    <div class="ui form attached stacked  segment">

      <div class="field">
        <div class="ui selection dropdown" id="setProj" tabindex="0">
          <input type="hidden" name="room">
          <i class="dropdown icon"></i>
          <div class="default text">프로젝트 선택</div>
          <div class="menu transition hidden" tabindex="-1">
            <div class="item" data-value="0">1번</div>
            <div class="item" data-value="1">2번</div>
          </div>
        </div>
      </div>

      <div id="Panel" style="display:none;">

        <div class="ui pointing secondary menu">
          <a class="item active" data-tab="first">내용</a>
          <a class="item" data-tab="second">후기</a>
          <a class="item" data-tab="third">정산</a>
        </div>

        <div class="ui bottom attached tab segment active" data-tab="first" style="border:0;">
        
          <div class="field">
            <label>제목</label>
            <input type="text" name="title" placeholder="제목" id="title">
          </div>
  
          <div class="two fields">
            <div class="field">
              <label>목표액</label>
              <input placeholder="목표액" type="text" id="goal">
            </div>
            <div class="field">
              <label>모집액</label>
              <input placeholder="모집액" type="text" id="fund" readonly>
            </div>
          </div>
  
          <div class="two fields">
            <div class="field">
              <label>돌격대 선발수</label>
              <input type="text" name="trooperSelect" id="trooperSelect">            
            </div>
            <div class="field">
              <label>마감일</label>
              
              <div class="ui calendar" id="date">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" placeholder="Date" id="v_date">
                </div>
              </div>
              
            </div>
          </div>
  
          <div class="field">
            <label>내용</label>
            <textarea id="content"></textarea>
          </div>
  
          <div class="field">
            <div class="ui large toggle checkbox" id="isClosed">
              <input type="checkbox" name="isClosed">
              <label>잠금</label>
            </div>
          </div>
            
          <div class="field">
            <button class="ui button positive" style="width:calc(50% - 5px);" id="Btn_Save">
              <i class="bolt icon"></i>저장
            </button>
            <button class="ui button" style="width:calc(50% - 5px);" id="Btn_Finish">
              <i class="stop icon"></i>종료
            </button>
          </div>
          
        </div>

        <div class="ui bottom attached tab segment" data-tab="second" style="border:0;">
          
          <div class="field">
            <label>작성자</label>
            <input type="text" name="author" placeholder="작성자" id="author">
          </div>

          <div class="field">
            <label>내용</label>
            <textarea id="review_content" style="height:100px;"></textarea>
          </div>
            
          <div class="field">
            <button class="ui button positive" id="Btn_Save_Review">
              <i class="bolt icon"></i>전송
            </button>                  
          </div>

        </div>

        <div class="ui bottom attached tab segment" data-tab="third">
          
          <div class="field">
            <label>정산내용</label>
            <textarea id="withdraw_content" style="height:100px;"></textarea>
          </div>
          
          <div class="field">
            <label>정산계좌</label>
            <input type="text" name="receiver" placeholder="작성자" id="receiver">
          </div>

          <div class="field">
            <button class="ui button positive" id="Btn_Save_Withdraw">
              <i class="bolt icon"></i>전송
            </button>                  
          </div>
              
        </div>


        
      </div>
    </div>
  </div>


<script src="/admin_start.js"></script>

<script>
  $('.ui.accordion').accordion();
</script>

</body>
</html>