<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">      
</head>

<script src="/vendor/jquery.min.js"></script>
<script src="/vendor/popper.min.js"></script>
<script src="/vendor/toastr-2.1.3.min.js"></script>
<script src="/vendor/semantic.min.js"></script>

<link rel="stylesheet" type="text/css" class="ui" href="/vendor/semantic.min.css">

<link rel="stylesheet" href="/vendor/font-awesome.min.css">
<link rel="stylesheet" href="/vendor/toastr-2.1.3.css">

<body style="padding:5px;padding-top:10px;">

  <div style="max-width:640px;margin:0 auto;">

    <div class="ui attached message">
      <div class="header">진실의 입 관리자 모드</div>
    </div>

    <div class="ui form attached stacked  segment">

      <div class="field">
        <div class="ui selection dropdown" id="setProj" tabindex="0">
          <input type="hidden" name="room">
          <i class="dropdown icon"></i>
          <div class="default text">프로젝트 선택</div>
          <div class="menu transition hidden" tabindex="-1">
            <div class="item" data-value="0">1번</div>
            <div class="item" data-value="1">2번</div>
          </div>
        </div>
      </div>

      <div id="Panel" style="display:none;">

        <div class="field">
          <label>제목</label>
          <input type="text" name="title" placeholder="제목" id="title">
        </div>

        <div class="field">
          <label>목표액</label>
          <input type="text" name="goal" placeholder="제목" id="goal">
        </div>

        <div class="field">
          <label>돌격대 선발수</label>
          <input type="text" name="trooperCount" placeholder="제목" id="trooperCount">
        </div>

        <div class="field">
          <label>내용</label>
          <textarea id="content"></textarea>
        </div>

        <div class="field">
          <div class="ui large toggle checkbox" id="isClosed">
            <input type="checkbox" name="isClosed">
            <label>잠금</label>
          </div>
        </div>
          
        <br>
        <div class="field">
            <button class="ui button positive" style="width:calc(50% - 5px);" id="Btn_Save">
                <i class="bolt icon"></i>저장
            </button>
            <button class="ui button" style="width:calc(50% - 5px);" id="Btn_Finish">
                <i class="stop icon"></i>종료
            </button>
        </div>
      </div>
    </div>
  </div>


<script src="/admin_start.js"></script>

<script>
  $('.ui.accordion').accordion();
</script>

</body>
</html>