<html>

<head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="vendors/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/fonts/line-awesome.css">
    <link rel="stylesheet" href="vendors/fonts/SpoqaHanSans-kr.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/uc.min.css">
</head>

<body>
    <% include ./header.ejs %>


    <div class="container-frame is-pd-y_60">
        <div data-uc-colgroup="row-md">
            <div class="is-col-xs2">
                <% include ./left_side_logout.ejs %>
            </div>
            <div class="is-col-xs8">
                <div class="badge-purcha-wrap">
                    <div class="is-clearfix">
                    <h3>훈장 구매하기</h3>
                    <div class="is-option-wrap">
                        <a href="">게시글 작성하기</a>
                        <select name="">
                            <option value="최근 생성일 순">최근 생성일 순</option>
                        </select>
                    </div></div>
                    <ul>
                        <li>
                            <div class="is-inner">
                                <span class="is-line"></span>
                                <div class="is-avatar-wrap"><img src="images/1 Main - medal/medal 01.png" alt="" /></div>
                                <div class="is-not-hover">
                                    <h4 class="is-title">Regam King</h4>
                                    <p class="is-coin-value"><span>G</span> 100 GOLD</p>
                                </div>
                                <div class="is-hover">
                                    <p class="is-coin-value"><span>G</span> 100 GOLD</p>
                                    <button type="button">구매하기</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="is-inner">
                                <span class="is-line"></span>
                                <div class="is-avatar-wrap"><img src="images/1 Main - medal/medal 02.png" alt="" /></div>
                                <div class="is-not-hover">
                                    <h4 class="is-title">Regam King</h4>
                                    <p class="is-coin-value"><span>G</span> 100 GOLD</p>
                                </div>
                                <div class="is-hover">
                                    <p class="is-coin-value"><span>G</span> 100 GOLD</p>
                                    <button type="button">구매하기</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="is-inner">
                                <span class="is-line"></span>
                                <div class="is-avatar-wrap"><img src="images/1 Main - medal/medal 03.png" alt="" /></div>
                                <div class="is-not-hover">
                                    <h4 class="is-title">Regam King</h4>
                                    <p class="is-coin-value"><span>G</span> 100 GOLD</p>
                                </div>
                                <div class="is-hover">
                                    <p class="is-coin-value"><span>G</span> 100 GOLD</p>
                                    <button type="button">구매하기</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="is-inner">
                                <span class="is-line"></span>
                                <div class="is-avatar-wrap"><img src="images/1 Main - medal/medal 04.png" alt="" /></div>
                                <div class="is-not-hover">
                                    <h4 class="is-title">Regam King</h4>
                                    <p class="is-coin-value"><span>G</span> 100 GOLD</p>
                                </div>
                                <div class="is-hover">
                                    <p class="is-coin-value"><span>G</span> 100 GOLD</p>
                                    <button type="button">구매하기</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="is-inner">
                                <span class="is-line"></span>
                                <div class="is-avatar-wrap"><img src="images/1 Main - medal/medal 05.png" alt="" /></div>
                                <div class="is-not-hover">
                                    <h4 class="is-title">Regam King</h4>
                                    <p class="is-coin-value"><span>G</span> 100 GOLD</p>
                                </div>
                                <div class="is-hover">
                                    <p class="is-coin-value"><span>G</span> 100 GOLD</p>
                                    <button type="button">구매하기</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="is-inner">
                                <span class="is-line"></span>
                                <div class="is-avatar-wrap"><img src="images/1 Main - medal/medal 06.png" alt="" /></div>
                                <div class="is-not-hover">
                                    <h4 class="is-title">Regam King</h4>
                                    <p class="is-coin-value"><span>G</span> 100 GOLD</p>
                                </div>
                                <div class="is-hover">
                                    <p class="is-coin-value"><span>G</span> 100 GOLD</p>
                                    <button type="button">구매하기</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="is-inner">
                                <span class="is-line"></span>
                                <div class="is-avatar-wrap"><img src="images/1 Main - medal/medal 07.png" alt="" /></div>
                                <div class="is-not-hover">
                                    <h4 class="is-title">Regam King</h4>
                                    <p class="is-coin-value"><span>G</span> 100 GOLD</p>
                                </div>
                                <div class="is-hover">
                                    <p class="is-coin-value"><span>G</span> 100 GOLD</p>
                                    <button type="button">구매하기</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="is-inner">
                                <span class="is-line"></span>
                                <div class="is-avatar-wrap"><img src="images/1 Main - medal/medal 08.png" alt="" /></div>
                                <div class="is-not-hover">
                                    <h4 class="is-title">Regam King</h4>
                                    <p class="is-coin-value"><span>G</span> 100 GOLD</p>
                                </div>
                                <div class="is-hover">
                                    <p class="is-coin-value"><span>G</span> 100 GOLD</p>
                                    <button type="button">구매하기</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="is-col-xs2">
                <% include ./right_side.ejs %>
            </div>
        </div>
    </div>


    <% include ./footer.ejs %>
</body>

</html>