<html>

<head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap"
>

    <link rel="stylesheet" href="../public/vendors/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../public/vendors/fonts/line-awesome.css">
    <link rel="stylesheet" href="../public/vendors/fonts/SpoqaHanSans-kr.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/uc.min.css">
</head>

<body>
    <% include ./header.ejs %>


    <div class="container-frame is-pd-y_60">
        <div data-uc-colgroup="row-md">
            <div class="is-col-xs2">
                <% include ./left_side_logout.ejs %>
            </div>
            <div class="is-col-xs8">
                <div class="community-list-wrap">
                    <dl>
                        <dt>커뮤니티 목록</dt>
                        <dd>
                            <span class="is-avatar">
                                <img src="images/1 Main - community logo/cm_logo_01.png" /></span>
                            <h4 class="is-title">ROOT</h4>
                            <p class="is-date"><span>생성일 </span>2018.03.05</p>
                            <p class="is-viewnum"><span>인원수 </span>420</p>
                        </dd>
                        <dd>
                            <span class="is-avatar">
                                <img src="images/1 Main - community logo/cm_logo_02.png" /></span>
                            <h4 class="is-title">OverWatch - KR</h4>
                            <p class="is-date"><span>생성일 </span>2019.01.02</p>
                            <p class="is-viewnum"><span>인원수 </span>420</p>
                        </dd>
                        <dd>
                            <span class="is-avatar">
                                <img src="images/1 Main - community logo/cm_logo_03.png" /></span>
                            <h4 class="is-title">LOL-KR</h4>
                            <p class="is-date"><span>생성일 </span>2019.01.02</p>
                            <p class="is-viewnum"><span>인원수 </span>420</p>
                        </dd>
                        <dd>
                            <span class="is-avatar">
                                <img src="images/1 Main - community logo/cm_logo_04.png" /></span>
                            <h4 class="is-title">BattleGround</h4>
                            <p class="is-date"><span>생성일 </span>2019.01.02</p>
                            <p class="is-viewnum"><span>인원수 </span>420</p>
                        </dd>
                        <dd>
                            <span class="is-avatar">
                                <img src="images/1 Main - community logo/cm_logo_05.png" /></span>
                            <h4 class="is-title">MapleStory</h4>
                            <p class="is-date"><span>생성일 </span>2019.01.02</p>
                            <p class="is-viewnum"><span>인원수 </span>420</p>
                        </dd>
                        <dd>
                            <span class="is-avatar">
                                <img src="images/1 Main - community logo/cm_logo_06.png" /></span>
                            <h4 class="is-title">Starcraft-KR</h4>
                            <p class="is-date"><span>생성일 </span>2019.01.02</p>
                            <p class="is-viewnum"><span>인원수 </span>420</p>
                        </dd>
                        <dd>
                            <span class="is-avatar">
                                <img src="images/1 Main - community logo/cm_logo_07.png" /></span>
                            <h4 class="is-title">KartRider-KR</h4>
                            <p class="is-date"><span>생성일 </span>2019.01.02</p>
                            <p class="is-viewnum"><span>인원수 </span>420</p>
                        </dd>
                        <dd>
                            <span class="is-avatar">
                                <img src="images/1 Main - community logo/cm_logo_08.png" /></span>
                            <h4 class="is-title">Lineage-KR</h4>
                            <p class="is-date"><span>생성일 </span>2019.01.02</p>
                            <p class="is-viewnum"><span>인원수 </span>420</p>
                        </dd>
                        <dd>
                            <span class="is-avatar">
                                <img src="images/1 Main - community logo/cm_logo_09.png" /></span>
                            <h4 class="is-title">Minecraft</h4>
                            <p class="is-date"><span>생성일 </span>2019.01.02</p>
                            <p class="is-viewnum"><span>인원수 </span>420</p>
                        </dd>
                        <dd>
                            <span class="is-avatar">
                                <img src="images/1 Main - community logo/cm_logo_10.png" /></span>
                            <h4 class="is-title">Apex Legends</h4>
                            <p class="is-date"><span>생성일 </span>2019.01.02</p>
                            <p class="is-viewnum"><span>인원수 </span>420</p>
                        </dd>
                        <dd>
                            <span class="is-avatar">
                                <img src="images/1 Main - community logo/cm_logo_11.png" /></span>
                            <h4 class="is-title">MapleStory-JP</h4>
                            <p class="is-date"><span>생성일 </span>2019.01.02</p>
                            <p class="is-viewnum"><span>인원수 </span>420</p>
                        </dd>
                        <dd>
                            <span class="is-avatar">
                                <img src="images/1 Main - community logo/cm_logo_12.png" /></span>
                            <h4 class="is-title">OverWatch-CN</h4>
                            <p class="is-date"><span>생성일 </span>2019.01.02</p>
                            <p class="is-viewnum"><span>인원수 </span>420</p>
                        </dd>
                        <dd>
                            <span class="is-avatar">
                                <img src="images/1 Main - community logo/cm_logo_13.png" /></span>
                            <h4 class="is-title">OverWatch-KR</h4>
                            <p class="is-date"><span>생성일 </span>2019.01.02</p>
                            <p class="is-viewnum"><span>인원수 </span>420</p>
                        </dd>
                        <dd>
                            <span class="is-avatar">
                                <img src="images/1 Main - community logo/cm_logo_14.png" /></span>
                            <h4 class="is-title">Starcraft-FR</h4>
                            <p class="is-date"><span>생성일 </span>2019.01.02</p>
                            <p class="is-viewnum"><span>인원수 </span>420</p>
                        </dd>
                        <dd>
                            <span class="is-avatar">
                                <img src="images/1 Main - community logo/cm_logo_15.png" /></span>
                            <h4 class="is-title">LOL-CN</h4>
                            <p class="is-date"><span>생성일 </span>2019.01.02</p>
                            <p class="is-viewnum"><span>인원수 </span>420</p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="is-col-xs2">
                <% include ./right_side.ejs %>
            </div>
        </div>
    </div>


    <% include ./footer.ejs %>
</body>

</html>