<header class="header">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> <!-- 2 -->

    <!-- bootstrap -->
    <div class="logo-wrap">
        <a href="/"><img src="images/main_logo.png" alt="" /></a>
    </div>
    <ul class="nav-list">
        <dt class="is-prev"><a href="" class="la la-angle-left"></a></dt>
        <li><a href="root_index">ROOT</a></li>
        <li><a href="overwatch_index">OverWatch-KR</a></li>
        <li><a href="overwatch_index">LOL-KR</a></li>
        <li><a href="overwatch_index">MapleStory</a></li>
        <li><a href="overwatch_index">BattleGround</a></li>
        <dt class="is-next"><a href="" class="la la-angle-right"></a></dt>
    </ul>
    
</header>

<div class="breadcrum-wrap">
    <div class="container-frame">
        <div class="is-col-xs6 is-align-mid">
            <ul class="is-breadcrum-list">
                <li><a href="">무덤 구경하기</a></li>
                <li><a href="">훈장 사러가기</a></li>
            </ul>
        </div>
        <div class="is-col-xs6 is-align-mid ix-txt-right">
            <div class="search-input-group">
                <i class="la la-search"></i>
                <input type="text" name="" value="" placeholder="search" class="">
            </div>
        </div>
    </div>
</div>