<html>

<head>
    <title>regam</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/vendors/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/fonts/line-awesome.css">
    <link rel="stylesheet" href="/vendors/fonts/SpoqaHanSans-kr.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/uc.min.css">
</head>

<body>
    <% include ./header.ejs %>


    <div class="container-frame is-pd-y_60">
        <div data-uc-colgroup="row-md">
            <div class="is-col-xs2">
                
                <%  include ./left_side_login.ejs%>
            </div>
            <div class="is-col-xs8">
                <div data-uc-colgroup="row-sm">
                    <div class="is-col-xs4">
                        <div class="border-widget-wrap is-scroll-type">
                            <h3><strong>Top 10</strong> 커뮤니티</h3>
                            <ul>
                                <li>
                                    <span class="is-br-num">1 <i class="is-up"></i></span>
                                    <span class="is-avatar"><img
                                            src="images/1 Main - community logo/0 small_cm_logo_01.png" /></span>
                                    <span class="is-title" href="/ow">OverWatch-KR</span>
                                </li>
                                <li>
                                    <span class="is-br-num">2 <i class="is-up"></i></span>
                                    <span class="is-avatar"><img
                                            src="images/1 Main - community logo/0 small_cm_logo_02.png" /></span>
                                    <span class="is-title" href="/#">LOL-KR</span>
                                </li>
                                <li>
                                    <span class="is-br-num">3 <i class="is-up"></i></span>
                                    <span class="is-avatar"><img
                                            src="images/1 Main - community logo/0 small_cm_logo_03.png" /></span>
                                    <span class="is-title" href="/#">MapleStory</span>
                                </li>
                                <li>
                                    <span class="is-br-num">4 <i class="is-down"></i></span>
                                    <span class="is-avatar"><img
                                            src="images/1 Main - community logo/0 small_cm_logo_04.png" /></span>
                                    <span class="is-title" href="/root">ROOT</span>
                                </li>
                                <li>
                                    <span class="is-br-num">5 <i class="is-up"></i></span>
                                    <span class="is-avatar"><img
                                            src="images/1 Main - community logo/0 small_cm_logo_05.png" /></span>
                                    <span class="is-title" href="/#">BattleGround</span>
                                </li>
                                <li>
                                    <span class="is-br-num">6 <i class="is-up"></i></span>
                                    <span class="is-avatar"><img
                                            src="images/1 Main - community logo/0 small_cm_logo_06.png" /></span>
                                    <span class="is-title" href="/#">BattleGround</span>
                                </li>
                                <li>
                                    <span class="is-br-num">6 <i class="is-up"></i></span>
                                    <span class="is-avatar"><img
                                            src="images/1 Main - community logo/0 small_cm_logo_06.png" /></span>
                                    <span class="is-title" href="/#">BattleGround</span>
                                </li>
                                <li>
                                    <span class="is-br-num">6 <i class="is-up"></i></span>
                                    <span class="is-avatar"><img
                                            src="images/1 Main - community logo/0 small_cm_logo_06.png" /></span>
                                    <span class="is-title" href="/#">BattleGround</span>
                                </li>
                            </ul>
                            <span class="is-scroll-overlay"></span>
                        </div>
                    </div>
                    <div class="is-col-xs8">
                        <div class="border-widget-wrap">
                            <dl>
                                <dt>커뮤니티 <strong>독립운동</strong></dt>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>420</b></span>
                                    <a href="/root_independence_board" class="is-title">롤토체스-KR Community 자체 운영할 수 있도록
                                        해주세요.</a>
                                    <span class="is-writer-wrap">
                                        <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>391</b></span>
                                    <a href="root_independence_board" class="is-title">Terra Community 독립 필요하다 !</a>
                                    <span class="is-writer-wrap">
                                        <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>347</b></span>
                                    <a href="/root/indep_board" class="is-title">검은사막모바일 모여라.</a>
                                    <span class="is-writer-wrap">
                                        <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>128</b></span>
                                    <a href="/root/indep_board" class="is-title">Lineage-KR 2 커뮤니티 생성 필요해요.</a>
                                    <span class="is-writer-wrap">
                                        <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>128</b></span>
                                    <a href="/root/indep_board" class="is-title">FORNITE 플레이어 핸즈업 ~</a>
                                    <span class="is-writer-wrap">
                                        <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 30px;">
                    <a href=""><img src="images/banner-carton-defense-center.jpg" alt="" /></a>
                </div>
                <div data-uc-colgroup="row-sm">
                    <div class="is-col-xs6">
                        <div class="border-widget-wrap">
                            <dl>
                                <dt>커뮤니티 <strong>Best Post</strong></dt>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>420</b></span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                        <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>420</b></span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                        <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>420</b></span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                        <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>420</b></span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                        <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="is-col-xs6">
                        <div class="border-widget-wrap">
                            <dl>
                                <dt>커뮤니티 <strong>New Post</strong></dt>
                                <dd>
                                    <span class="is-viewnum">1분 전</span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                        <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">12분 전</span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                        <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">1시간 전</span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                        <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">18시간 전</span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                        <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="is-col-xs2">
                <% include ./right_side.ejs %>
            </div>
        </div>
    </div>


    <% include ./footer.ejs %>
</body>

</html>