<div class="left-side-wrapper">
    <div class="login-after-widget">
        <h3>Hey, <%= ID %> :D</h3>
        <div class="is-avatar-wrap">
            <a href="/badge_purchase"><img src="images/my-medal.png" alt=""></a>
        </div>
        <div class="is-bot-link">
            <a href="/mypage/<%= ID %>">Mypage</a>
            <a href="/logout">Logout</a>
        </div>
    </div>

    <div class="side-menu-widget is-align-center">
        <dl class="sidemenu-list">
            <dt>Community</dt>
            <dd><a href="/community_list">커뮤니티 목록</a></dd>
            <dd><a href="#">커뮤니티 순위</a></dd>
            <dd><a href="/indep_board">커뮤니티 독립운동</a></dd>
            <dd><a href="#">신규 커뮤니티</a></dd>
        </dl>
    </div>

    <div class="side-menu-widget is-align-center">
        <dl class="sidemenu-list">
            <dt>Contents</dt>
            <dd><a href="#">Best Post</a></dd>
            <dd><a href="#">New Post</a></dd>
        </dl>
    </div>

    <div class="side-benner-widget">
        <a href="#"><img src="images/banner-cartoon-defense-left.jpg" alt="" /></a>
    </div>
</div>