<div class="left-side-wrapper">
    <form class="login-form-widget" action="/login" method="post" style="background-image: url(images/login-form-bg.png);">
        <h3>Login</h3>
        <div class="is-input-field" style="margin-bottom: 10px;">
            <label for="ID">ID</label>
            <input type="text" id="ID" name="ID"  value="" />
        </div>
        <div class="is-input-field">
            <label>Password</label>
            <input type="password" id="password" name="password" value=""/>
        </div>
        <div class="user-link-wrap_1">
            <a href="#">비밀번호 찾기</a>
        </div>
        <div class="login-btn-wrap">
            <button type="submit" class="is-login-btn">로그인</button>
        </div>
        <div class="user-link-wrap_2">
            <a href="/join">아직도 리게머가 아니세요 ?</a>
            <a href="/join">회원가입 하기</a>
        </div>
    </form>

    <div class="side-menu-widget is-align-center">
        <dl class="sidemenu-list">
            <dt>Community</dt>
            <dd><a href="community_list">커뮤니티 목록</a></dd>
            <dd><a href="#">커뮤니티 순위</a></dd>
            <dd><a href="root_independence_board">커뮤니티 독립운동</a></dd>
            <dd><a href="#">신규 커뮤니티</a></dd>
        </dl>
    </div>

    <div class="side-menu-widget is-align-center">
        <dl class="sidemenu-list">
            <dt>Contents</dt>
            <dd><a href="#">Best Post</a></dd>
            <dd><a href="#">New Post</a></dd>
        </dl>
    </div>

    <div class="side-benner-widget">
        <a href="#"><img src="images/banner-cartoon-defense-left.jpg" alt="" /></a>
    </div>
</div>