<html>

<head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../vendors/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../vendors/fonts/line-awesome.css">
    <link rel="stylesheet" href="../vendors/fonts/SpoqaHanSans-kr.css">
    <link rel="stylesheet" type="text/css" href="css/style_overwatch.css">
    <link rel="stylesheet" type="text/css" href="css/uc.min.css">
</head>

<body>
    <% include ./overwatch_header.ejs %>


    <div class="container-frame is-pd-y_60">
        <div data-uc-colgroup="row-md">
            <div class="is-col-xs2">
                <% include ./overwatch_left_side.ejs %>
            </div>
            <div class="is-col-xs8">
                <div data-uc-colgroup="row-sm">
                    <div class="is-col-xs6">
                        <div class="border-widget-wrap">
                            <dl>
                                <dt>공지</dt>
                                <dd>
                                    <span class="is-viewnum">추천수 <b>420</b></span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">추천수 <b>391</b></span>
                                    <span class="is-title">Over Watch KR 커뮤니티 규정 공지</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">추천수 <b>347</b></span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">추천수 <b>128</b></span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="is-col-xs6">
                        <div class="border-widget-wrap">
                            <dl>
                                <dt>Best Post</dt>
                                <dd>
                                    <span class="is-viewnum">추천수 <b>420</b></span>
                                    <span class="is-title">이번 오버워치 신 영웅</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">추천수 <b>391</b></span>
                                    <span class="is-title">오버워치 신캐 떡밥(스압주의)</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">추천수 <b>347</b></span>
                                    <span class="is-title">맵 별 맵뚫기 방법 정리</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">추천수 <b>128</b></span>
                                    <span class="is-title">오버워치 입문 가이드</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div data-uc-colgroup="row-sm" style="margin-bottom: 30px">
                    <div class="is-col-xs3" style="width: 255px;">
                        <img src="images/banner-product-left.jpg" alt="" />
                    </div>
                    <div class="is-col-xs9" style="width: 670px;">
                        <img src="images/banner-monitor-right.jpg" alt="" />
                    </div>                    
                </div>
                <div data-uc-colgroup="row-sm">
                    <div class="is-col-xs6">
                        <div class="border-widget-wrap">
                            <dl>
                                <dt>New Post</dt>
                                <dd>
                                    <span class="is-viewnum">1분 전</span>
                                    <span class="is-title">트레이서 못하면 하지 좀 마라</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">1분 전</span>
                                    <span class="is-title">겐지랑 한조 중에 뭐가 더 좋나요?</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">1분 전</span>
                                    <span class="is-title">대충 오버워치 게시판에 올라올만한 제목</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">1분 전</span>
                                    <span class="is-title">이번 신스킨</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="is-col-xs6">
                        <div class="border-widget-wrap">
                            <dl>
                                <dt>커뮤니티 이벤트</dt>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>420</b></span>
                                    <span class="is-title">명중률 100! 도전! </span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>391</b></span>
                                    <span class="is-title">신 영웅으로 POTG를 ! </span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>347</b></span>
                                    <span class="is-title"> 대충 이벤트에 어울리는 제목 </span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>128</b></span>
                                    <span class="is-title">오버워치 진기 명기 제 8회</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="is-col-xs2">
                <% include ./overwatch_right_side.ejs %>
            </div>
        </div>
    </div>


    <% include ./overwatch_footer.ejs %>
</body>

</html>