<div class="right-side-wrapper">
        <div class="root-ass-wrap">
            <h3><span>ROOT Communtiy’s Asset</span></h3>
            <p>465,843,521,654 <span>RGC</span></p>
        </div>
        <div class="is-mg-y_30">
            <a href=""><img src="images/logo-overwatchleague.jpg" alt=""></a>
        </div>
        <div class="side-menu-widget type_1">
            <dl class="sidemenu-list">
                <dt>Community Keeper</dt>
                <dd>
                    <div class="is-col-xs4 is-align-mid">
                            <span class="is-avatar"><img src="images/2 ROOT/0 ck-2.png" alt=""></span>
                    </div>
                    <div class="is-col-xs8 is-align-bot">
                        <span class="is-usename">YunStar</span>
                        <span class="is-date">2019.08.26 오픈</span>
                    </div>
                </dd>
            </dl>
        </div>
    
        <div class="side-menu-widget type_2">
            <dl class="sidemenu-list">
                <dt>ROOT GG Rankings</a></dt>
                <dd>
                    <span class="is-br-num">1 <i class="is-up"></i></span>
                    <span class="is-avatar"><img src="images/2 ROOT/0 medal-GGranking.png" /></span>
                    <span class="is-title">BigLight</span>
                </dd>
                <dd>
                    <span class="is-br-num">2 <i class="is-up"></i></span>
                    <span class="is-avatar"><img src="images/2 ROOT/0 medal-GGranking.png" /></span>
                    <span class="is-title">BigLight</span>
                </dd>
                <dd>
                    <span class="is-br-num">3 <i class="is-up"></i></span>
                    <span class="is-avatar"><img src="images/2 ROOT/0 medal-GGranking.png" /></span>
                    <span class="is-title">BigLight</span>
                </dd>
                <dd>
                    <span class="is-br-num">4 <i class="is-down"></i></span>
                    <span class="is-avatar"><img src="images/2 ROOT/0 medal-GGranking.png" /></span>
                    <span class="is-title">BigLight</span>
                </dd>
                <dd>
                    <span class="is-br-num">5 <i class="is-up"></i></span>
                    <span class="is-avatar"><img src="images/2 ROOT/0 medal-GGranking.png" /></span>
                    <span class="is-title">BigLight</span>
                </dd>
            </dl>
        </div>
        <div class="side-menu-widget type_3">
            <dl class="sidemenu-list">
                <dd>
                    <a href="/overwatch_board" class="is-title">이벤트 제안 및 투표 게시판</a>
                </dd>
                <dd>
                    <a href="/ow/overwatch_voting" class="is-title">Community Keeper 선거</a>
                </dd>
                <dd>
                    <a href="/overwatch_voting_history" class="is-title">투표 기록 및 실시간 득표수</a>
                </dd>
                <dd>
                    <a href="/overwatch_impeach" class="is-title">Community Keeper 탄핵</a>
                </dd>
            </dl>
        </div>
    
    
        <div class="side-benner-widget">
            <a href=""><img src="" alt="" /></a>
        </div>
    </div>