<div class="left-side-wrapper">
    <div class="login-after-widget">
        <h3>Hey, <%=ID%> :D</h3>
        <div class="is-avatar-wrap">
            <a href="badge_purchase"><img src="images/my-medal.png" alt=""></a>
        </div>
        <div class="is-bot-link">
            <a href="/mypage/<%=ID%>">Mypage</a>
            <a href="/logout">Logout</a>
        </div>
    </div>

    <div class="side-menu-widget is-align-center">
        <dl class="sidemenu-list">
            <dt>Forums</dt>
            <dd><a href="">공지</a></dd>
            <dd><a href="">이벤트 공지</a></dd>
            <dd><a href="">자유게시판</a></dd>
            <dd><a href="/posts">정보 게시판</a></dd>
            <dd><a href="">소식</a></dd>
            <dd><a href="/overwatch_transaction">RGC Transaction</a></dd>
        </dl>
    </div>

    <div class="side-benner-widget">
        <a href=""><img src="images/banner-finals-left.png" alt="" /></a>
    </div>
</div>