<div class="right-side-wrapper">
<div class="side-menu-widget">
    <dl class="sidemenu-list">
        <dt>신생 커뮤니티</dt>
        <dd><a href="">MapleStory <span>2019.08.26 오픈</span></a></dd>
        <dd><a href="">BattleGround <span>2019.08.26 오픈</span></a></dd>
        <dd><a href="">LOL-CN <span>2019.08.26 오픈</span></a></dd>
        <dd><a href="">OverWatch-EN <span>2019.08.26 오픈</span></a></dd>
    </dl>
</div>

<div class="side-menu-widget">
    <dl class="sidemenu-list">
        <dt>Regam 공지사항 <a href="">+더보기</a></dt>
        <dd><a href="">Regam 커뮤니티 운영정책
            <span class="d-block-xs">2019.08.26 PM 18:00</span></a></dd>
        <dd><a href="">Communiy Keeper에 관하여
            <span class="d-block-xs">2019.08.26 PM 15:30</span></a></dd>
        <dd><a href="">GG? RGC? Gold?
            <span class="d-block-xs">2019.08.21 AM 10:23</span></a></dd>
        <dd><a href="">제1회 Community Keeper 선출
            <span class="d-block-xs">2019.08.14 PM 14:00</span></a></dd>
        <dd><a href="">게임의, 게임에 의한, 게임을 위한
            <span class="d-block-xs">2019.08.01 AM 09:43</span></a></dd>
        <dd><a href="">게임의, 게임에 의한, 게임을 위한
            <span class="d-block-xs">2019.08.01 AM 09:43</span></a></dd>
    </dl>
</div>

<div class="side-benner-widget">
    <a href="#"><img src="images/img-rhythmemon-02.jpg" alt="" /></a>
</div></div>