<html>

<head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="vendors/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/fonts/line-awesome.css">
    <link rel="stylesheet" href="vendors/fonts/SpoqaHanSans-kr.css">
    <link rel="stylesheet" type="text/css" href="css/style_root.css">
    <link rel="stylesheet" type="text/css" href="css/uc.min.css">
</head>

<body>
    <% include ./root_header.ejs %>


    <div class="container-frame is-pd-y_60" style="margin-top: -150px;">
        <div data-uc-colgroup="row-md">
            <div class="is-col-xs2">
                <% include ./root_left_side.ejs %>
            </div>
            <div class="is-col-xs8">
                <div data-uc-colgroup="row-sm">
                    <div class="is-col-xs6">
                        <div class="border-widget-wrap">
                            <dl>
                                <dt>공지</dt>
                                <dd>
                                    <span class="is-viewnum">추천수 <b>420</b></span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">추천수 <b>391</b></span>
                                    <span class="is-title">Terra Community 독립 필요하다 !</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">추천수 <b>347</b></span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">추천수 <b>128</b></span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="is-col-xs6">
                        <div class="border-widget-wrap">
                            <dl>
                                <dt>Best Post</dt>
                                <dd>
                                    <span class="is-viewnum">추천수 <b>420</b></span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">추천수 <b>391</b></span>
                                    <span class="is-title">Terra Community 독립 필요하다 !</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">추천수 <b>347</b></span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">추천수 <b>128</b></span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div data-uc-colgroup="row-sm" style="margin-bottom: 30px">
                    <div class="is-col-xs9">
                        <img src="images/banner-up.jpg" alt="" style="margin-bottom: 32px;" />
                        <img src="images/banner-down.jpg" alt="" />
                    </div>
                    <div class="is-col-xs3">
                        <img src="images/banner-tickets.jpg" alt="" />
                    </div>
                </div>
                <div data-uc-colgroup="row-sm">
                    <div class="is-col-xs6">
                        <div class="border-widget-wrap">
                            <dl>
                                <dt>New Post</dt>
                                <dd>
                                    <span class="is-viewnum">1분 전</span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">1분 전</span>
                                    <span class="is-title">Terra Community 독립 필요하다 !</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">1분 전</span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">1분 전</span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="is-col-xs6">
                        <div class="border-widget-wrap">
                            <dl>
                                <dt>커뮤니티 독립운동</dt>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>420</b></span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>391</b></span>
                                    <span class="is-title">Terra Community 독립 필요하다 !</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>347</b></span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                                <dd>
                                    <span class="is-viewnum">조회수 <b>128</b></span>
                                    <span class="is-title">How to Become a Good Mccree User</span>
                                    <span class="is-writer-wrap">
                                            <span class="is-avatar"><img src="images/2 ROOT/0 medal.png" /></span>
                                        <span class="is-username">salaryman</span>
                                    </span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="is-col-xs2">
                <% include ./root_right_side.ejs %>
            </div>
        </div>
    </div>


    <% include ./root_footer.ejs %>
</body>

</html>