<html>

<head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="vendors/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/fonts/line-awesome.css">
    <link rel="stylesheet" href="vendors/fonts/SpoqaHanSans-kr.css">
    <link rel="stylesheet" type="text/css" href="css/style_root.css">
    <link rel="stylesheet" type="text/css" href="css/uc.min.css">
</head>

<body>
    <% include ./root_header.ejs %>


    <div class="container-frame is-pd-y_60" style="margin-top: -150px;">
        <div data-uc-colgroup="row-md">
            <div class="is-col-xs2">
                <% include ./root_left_side.ejs %>
            </div>
            <div class="is-col-xs8">
                <div class="independence-widget-wrap">
                    <div class="is-clearfix">
                        <h3 style="float: left; margin-bottom: 35px;">커뮤니티 독립운동</h3>
                        <div class="is-option-wrap">
                            <a href="">게시글 작성하기</a>
                            <select name="">
                                <option value="최근 생성일 순">최근 생성일 순</option>
                            </select>
                        </div>
                    </div>
                    <dl>
                        <dd>
                            <div class="is-col-xs2 is-align-mid">
                                <div class="like-wrap">
                                    <span class="is-icon"></span>
                                    <span class="is-label">추천수</span>
                                    <span class="is-num">210</span>
                                </div>
                            </div>
                            <div class="is-col-xs7 is-align-mid">
                                <h4 class="is-title">TFT KR Community 신규 생성을 제안합니다.</h4>
                                <div class="is-info">
                                    <span>발제자 <b>BigLight</b></span>
                                    <span>생성일 <b>2019.01.02</b></span>
                                </div>
                                <p class="is-txt">TFT 유저가 너무 많아져서 따로 커뮤니티가 필요합니다.<br>
                                    TFT 유저들의 의견을 모아주세요. </p>
                            </div>
                            <div class="is-col-xs3 is-align-top is-txt-right">
                                <div class="is-circle-set">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <p>80개 댓글이 달렸습니다.</p>
                                <a href="" class="is-more"><i class="la la-angle-right"></i></a>
                            </div>
                        </dd>
                        <dd>
                            <div class="is-col-xs2 is-align-mid">
                                <div class="like-wrap">
                                    <span class="is-icon"></span>
                                    <span class="is-label">추천수</span>
                                    <span class="is-num">210</span>
                                </div>
                            </div>
                            <div class="is-col-xs7 is-align-mid">
                                <h4 class="is-title">TFT KR Community 신규 생성을 제안합니다.</h4>
                                <div class="is-info">
                                    <span>발제자 <b>BigLight</b></span>
                                    <span>생성일 <b>2019.01.02</b></span>
                                </div>
                                <p class="is-txt">TFT 유저가 너무 많아져서 따로 커뮤니티가 필요합니다.<br>
                                    TFT 유저들의 의견을 모아주세요. </p>
                            </div>
                            <div class="is-col-xs3 is-align-top is-txt-right">
                                <div class="is-circle-set">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <p>80개 댓글이 달렸습니다.</p>
                                <a href="" class="is-more"><i class="la la-angle-right"></i></a>
                            </div>
                        </dd>
                        <dd>
                            <div class="is-col-xs2 is-align-mid">
                                <div class="like-wrap">
                                    <span class="is-icon"></span>
                                    <span class="is-label">추천수</span>
                                    <span class="is-num">210</span>
                                </div>
                            </div>
                            <div class="is-col-xs7 is-align-mid">
                                <h4 class="is-title">TFT KR Community 신규 생성을 제안합니다.</h4>
                                <div class="is-info">
                                    <span>발제자 <b>BigLight</b></span>
                                    <span>생성일 <b>2019.01.02</b></span>
                                </div>
                                <p class="is-txt">TFT 유저가 너무 많아져서 따로 커뮤니티가 필요합니다.<br>
                                    TFT 유저들의 의견을 모아주세요. </p>
                            </div>
                            <div class="is-col-xs3 is-align-top is-txt-right">
                                <div class="is-circle-set">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <p>80개 댓글이 달렸습니다.</p>
                                <a href="" class="is-more"><i class="la la-angle-right"></i></a>
                            </div>
                        </dd>
                        <dd>
                            <div class="is-col-xs2 is-align-mid">
                                <div class="like-wrap">
                                    <span class="is-icon"></span>
                                    <span class="is-label">추천수</span>
                                    <span class="is-num">210</span>
                                </div>
                            </div>
                            <div class="is-col-xs7 is-align-mid">
                                <h4 class="is-title">TFT KR Community 신규 생성을 제안합니다.</h4>
                                <div class="is-info">
                                    <span>발제자 <b>BigLight</b></span>
                                    <span>생성일 <b>2019.01.02</b></span>
                                </div>
                                <p class="is-txt">TFT 유저가 너무 많아져서 따로 커뮤니티가 필요합니다.<br>
                                    TFT 유저들의 의견을 모아주세요. </p>
                            </div>
                            <div class="is-col-xs3 is-align-top is-txt-right">
                                <div class="is-circle-set">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <p>80개 댓글이 달렸습니다.</p>
                                <a href="" class="is-more"><i class="la la-angle-right"></i></a>
                            </div>
                        </dd>
                        <dd>
                            <div class="is-col-xs2 is-align-mid">
                                <div class="like-wrap">
                                    <span class="is-icon"></span>
                                    <span class="is-label">추천수</span>
                                    <span class="is-num">210</span>
                                </div>
                            </div>
                            <div class="is-col-xs7 is-align-mid">
                                <h4 class="is-title">TFT KR Community 신규 생성을 제안합니다.</h4>
                                <div class="is-info">
                                    <span>발제자 <b>BigLight</b></span>
                                    <span>생성일 <b>2019.01.02</b></span>
                                </div>
                                <p class="is-txt">TFT 유저가 너무 많아져서 따로 커뮤니티가 필요합니다.<br>
                                    TFT 유저들의 의견을 모아주세요. </p>
                            </div>
                            <div class="is-col-xs3 is-align-top is-txt-right">
                                <div class="is-circle-set">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <p>80개 댓글이 달렸습니다.</p>
                                <a href="" class="is-more"><i class="la la-angle-right"></i></a>
                            </div>
                        </dd>
                    </dl>
                    <span class="is-scroll-overlay"></span>
                </div>
            </div>
            <div class="is-col-xs2">
                <% include ./root_right_side.ejs %>
            </div>
        </div>
    </div>


    <% include ./root_footer.ejs %>
</body>

</html>