.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 500;
  top: 0;
  width: 100vw;
  padding: 20px 60px;

  &.fullscreen {
    transition: background-color 1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.65);
  }

  .header-name {
    font-weight: 400;
    img {
      width: 24px;
      height: 24px;
      border-radius: 12px;
      object-fit: cover;
      margin-right: 8px;
      background-color: #a6a7a8;
    }
  }

  button {
    background-color: transparent;
    width: 120px;
    height: 28px;
    border: solid 1px #a6a7a8;
    border-radius: 0;
    color: #a6a7a8;
  }
}
