.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: scroll;

  .logo {
    width: 140px;
    height: auto;
  }

  .ant-input-password,
  input {
    width: 240px;
    background: #232323;
    color: #fff;
    border-radius: 0;
    svg {
      fill: #fff;
    }
  }

  .ant-input {
    margin-top: 20px;
    width: 240px;
    height: 32px;
    border: solid 1px #4f4f4f;

    &::selection{
      background: #ee0804;
    }

    &::-moz-selection{
      background: #ee0804;
    }
  }

  .ant-input-suffix {
    margin-top: 10px;
  }

  .sign-up-text {
    margin-top: 20px;
    font-size: 14px;
  }

  button {
    margin-top: 20px;
    font-size: 16px;
  }

  .dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #4f4f4f;
    border-radius: 100px;
    margin: 20px 0;

    .preview-image {
      width: 100%;
      height: 100%;
      border-radius: 999px;
      object-fit: cover;
    }
  }
}
