.transaction-page {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #191a1a;

  .tooltip {
    pointer-events: none;
    position: absolute;
    z-index: 9;
    font-size: 12px;
    padding: 8px;
    background: #000;
    color: #fff;
    min-width: 160px;
    max-height: 240px;
    overflow-y: hidden;
  }

  .sidebar {
    position: absolute;
    height: 100%;
    width: 400px;
    padding: 20px;
    right: 0;
  }

  .time-transaction {
    background-color: #232323;
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
  }

  .sidebar-content {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow-y: scroll;
  }

  .content {
    padding: 20px;

    .value-title {
      font-size: 40px;
      font-weight: 400;
      line-height: 1;
      margin-top: 20px;
      span {
        font-size: 24px;
        font-weight: 300;
      }
    }

    .value-subtitle {
      color: #4f4f4f;
    }

    .filter-text {
      margin-top: 20px;
    }
  }
}
