<script th:inline="javascript">
$(function() {
	/* Variables */
	var EMPL_ADDRESS = '0xf99c71b2cd6e4edeb115cefb409375735a5ff118';
	//var LOGIN_ID = 'Gabriel';
	var WORK_CODE_START='01';
	var WORK_CODE_END='02';
	var workPlaceCode = $("#geo-tooltip").data("workplacecode"); // user의 Current Place Code
	
	console.log(sessionStorage.getItem("id"));
	id = sessionStorage.getItem("id");
	if(id == null || id == "") {
		window.location.href = "/login";
	}
	
	/* Get Working List*/
	/*<![CDATA[*/
	var workHistoryEntityList = /*[[${workHistoryEntityList}]]*/;
	/*]]>*/
	console.log(workHistoryEntityList);
	var startWorkHistoryEntityList = workHistoryEntityList.filter(function(item){
		return item.workCode == WORK_CODE_START;
	});
	var endWorkHistoryEntityList = workHistoryEntityList.filter(function(item){
		return item.workCode == WORK_CODE_END;
	});
	console.log(startWorkHistoryEntityList);
	console.log(endWorkHistoryEntityList);
	// Calendar Model
	var calendarModel = [];
	
	// 업무 시작 목록
	$.each(startWorkHistoryEntityList, function(index, startWorkHistoryEntity){
		var startWorkStartYmd=moment(startWorkHistoryEntity.time).format('YYYYMMDD');
		var startMilliSeconds = moment(startWorkHistoryEntity.time).valueOf();
		var workHistory = {
				title : '업무시작',
				start : startMilliSeconds,
				end : null,
				backgroundColor : null,
				borderColor : null,
		};
		// 업무 종료 목록
		var isExistsEndWorking = false;
		$.each(endWorkHistoryEntityList, function(index, endWorkHistoryEntity){
			var endWorkStartYmd=moment(endWorkHistoryEntity.time).format('YYYYMMDD');
			if(startWorkStartYmd == endWorkStartYmd){
				// 근무시간
				var endMilliSeconds = moment(endWorkHistoryEntity.time).valueOf();
				var workingSeconds = moment.duration(endMilliSeconds - startMilliSeconds).asSeconds();
				var rgbCode = '#1DDB16';
				// 근무시간 10시간 초과 빨간색
				if(workingSeconds > 36000) rgbCode = '#FF0000';
				// 근무시간 9시간 초과 ~ 10시간 이하 주황색
				else if(workingSeconds > 32400 && workingSeconds <= 36000) rgbCode = '#FFBB00';
				// 근무시간 9시간 이하 초록색
				else rgbCode = '#1DDB16';
				
				// Calendar Model
				workHistory.title = '업무종료';
				workHistory.end = endMilliSeconds;
				workHistory.backgroundColor = rgbCode;
				workHistory.borderColor = rgbCode;
				
				isExistsEndWorking = true;
				return false;
			}
		});
		calendarModel.push(workHistory);
	});
	
	console.log(calendarModel);
	
	/* fullcalendar*/
	var calendarEl = document.getElementById('calendar');
	 
	var calendar = new FullCalendar.Calendar(calendarEl, {
		plugins : [ 'interaction', 'dayGrid', 'timeGrid', 'interaction' ],
		defaultView : 'dayGridMonth',
		//defaultDate : '2019-08-07',
		selectable : true,
		header : {
			left : 'prev,next today',
			center : 'title',
			right : 'dayGridMonth,timeGridWeek,timeGridDay'
		},
		events : calendarModel,
		dateClick : function(info) {
			var clickedCalendarTodayYmd = moment(info.dateStr).format('YYYYMMDD');
			var clickedCalendarTodayYmd_v1 = moment(info.dateStr).format('YYYY-MM-DD');
			// Get Work History
			$.ajax({
				type : "GET", //요청 메소드 타입
				url : BASE_CONTEXT_PATH + "work/history/"+id+"/"+moment(clickedCalendarTodayYmd).format(),
				contentType : "application/json",
				success : function(data, status, xhr) {
					console.log(data);
					var todayYmd = moment().format('YYYYMMDD');
					if(clickedCalendarTodayYmd != todayYmd){
						var startTime;
						var endTime;
						var startLatitude;
						var startLongitude;
						var endLatitude;
						var endLongitude;
						$.each(data, function(index, item){
							var time = item.time;
							var momentTime = moment(time.year+"-"+time.monthValue+"-"+time.dayOfMonth+" "+time.hour+":"+time.minute+":"+time.second);
							if(item.workCode == WORK_CODE_START){
								startTime = momentTime;
								startLatitude = item.latitude;
								startLongitude = item.longitude;
							}else if(item.workCode == WORK_CODE_END){
								endTime = momentTime;
								endLatitude = item.latitude;
								endLongitude = item.longitude;
							}
						});
						
						if(!startTime || !endTime){
							alert("근무 상세를 표시할 수 없습니다.");
							return;
						}
						
						console.log('startTime : ' + startTime);
						console.log('endTime : ' + endTime);
						var workingMinutes = endTime.diff(startTime, "minutes");
						console.log('workingMinutes : ' + workingMinutes);
					
						// Show modal
						$('#modal-commute-detail').modal('show');
						
						// Data binding to Modal
						// Title
						$('#commute_date').html(clickedCalendarTodayYmd_v1);
						var hours = parseInt(workingMinutes / 60);
						var minute = workingMinutes % 60;
						$('#commute_time').html(hours + " hours " + minute + " minutes");
						// 근무 시작
						$('#modal_working_start_time').html(moment(startTime).format('YYYY-MM-DD hh:mm:ss a'));
						$('#modal_working_start_location_latitude').html(startLatitude);
						$('#modal_working_start_location_longitude').html(startLongitude);
						// 근무 종료
						$('#modal_working_end_time').html(moment(endTime).format('YYYY-MM-DD hh:mm:ss a'));
						$('#modal_working_end_location_latitude').html(endLatitude);
						$('#modal_working_end_location_longitude').html(endLongitude);
					}else{
						// Show modal
						$('#modal-commute').modal('show');
						$('#modal-commute-date').html(info.dateStr);
						
						console.log(data);
						if(!data ||data == ''){
							console.log('업무 시작 필요 !!');
							$('#start_work').prop('disabled', false);
							$('#end_work').prop('disabled', true);
							$('#start_qr').prop('disabled', false);
							$('#end_qr').prop('disabled', true);
						}else{
							console.log(data.length);
							console.log(data[0].workCode);
							//if(!data.workEndYmd || !data.workEndTime){
							if(data.length == 1 && data[0].workCode == '01'){
								console.log('업무 시작 중 !!');
								$('#modal-commute-date').html(info.dateStr + '<br>업무 시작 중 !!');
								$('#start_work').prop('disabled', true);
								$('#end_work').prop('disabled', false);
								$('#start_qr').prop('disabled', true);
								$('#end_qr').prop('disabled', false);
							}else if(data.length == 2 && data[1].workCode == '02'){
								console.log('업무 종료 완료 !!');
								$('#modal-commute-date').html(info.dateStr + '<br>업무 종료 완료 !!');
								$('#start_work').prop('disabled', true);
								$('#end_work').prop('disabled', true);
								$('#start_qr').prop('disabled', true);
								$('#end_qr').prop('disabled', true);
							} else {
								alert("업무종료됨. 아직 나머지 workCode를 정의하지 않았음.")
								console.log('업무 종료 완료 !!');
								$('#modal-commute-date').html(info.dateStr + ' > 업무 종료 완료 !!');
								$('#start_work').prop('disabled', true);
								$('#end_work').prop('disabled', true);
								$('#start_qr').prop('disabled', true);
								$('#end_qr').prop('disabled', true);
							}
						}
					}
				},
				error : function(xhr, status, error) {
					alert(error);
				}
			});
		}
	});

	calendar.render();
	
	/* geolocation */
	var BWG_LATITUDE = 37.563115;
   	var BWG_LONGITUDE = 126.969534;
	var latitude;
	var longitude;
	// Geolocation API에 액세스할 수 있는지를 확인
	if (navigator.geolocation) {
	    //위치 정보를 얻기
	    navigator.geolocation.getCurrentPosition (function(pos) {
	    	latitude = pos.coords.latitude;
	    	longitude = pos.coords.longitude;
	    	
/* 	    	// Tooltip
	    	var tooltipTitle;
	    	if(latitude && longitude){
	    		tooltipTitle = latitude + ", " + longitude + " (클릭하면 구글 지도를 연결합니다.)";
	    	}else{
	    		tooltipTitle = "위치를 표시할 수 없습니다.";
	    	}
	    	$('#geo-tooltip').tooltip({
	    		title : tooltipTitle,
	    	});
 */	    	//$('#geo').prop('href', "https://www.google.com/maps/search/?api=1&query="+latitude+","+longitude);
	    	//$('#geo').prop('target', '_blank');
	    });
	} else {
	    alert("이 브라우저에서는 Geolocation이 지원되지 않습니다.")
	}
	
	/* Work History*/
	// 업무 시작
	$('#start_work').on('click', function(e){
		// Check validations
		//var date = calendar.getDate();
		//alert("The current date of the calendar is " + date.toISOString());
		
/* 		$('#modal-commute').modal('hide');
		msg = "<h3>"+id+" 님, 업무시작이 정상 처리 되었습니다.<br> "
				+ "Reward 100 포인트가 지급되었습니다.</h3>"
				+ "- 근무지 " + $('#geo-tooltip').text() + "<br>"
				+ "- 위도 : " + latitude + "<br>"
				+ "- 경도 : " + longitude + "<br>";
		$('#wkmodal').html(msg);
		$('#wkmodal-commute').modal('show'); */
		
		// New Work History
		
  		$.ajax({
			type : "POST", //요청 메소드 타입
			url : BASE_CONTEXT_PATH + "work/history", //요청 경로
			data : JSON.stringify({
				//로그인 아이디
				userId : id,
				//근무 구분 코드 (01: 출근, 02: 퇴근)
				workCode : WORK_CODE_START,
				//근무지 구분 코드 (01: 서울 본사, 02: 송도)
				workPlaceCode : workPlaceCode,
				//위도
				latitude : latitude,
				//경도
				longitude : longitude,
			}),
			contentType : "application/json", //요청 컨텐트 타입 "application/x-www-form-urlencoded; charset=UTF-8"
			//dataType : "json", //응답 데이터 형식 명시하지 않을 경우 자동으로 추측
			success : function(data, status, xhr) {
				alert(id + "님, 업무시작이 정상 처리 되었습니다.");
				location.replace(BASE_CONTEXT_PATH+'calendar/'+ id);
			},
			error : function(xhr, status, error) {
				alert("에러 발생 !!");
			}
		});
	});
	// 업무 종료
	$('#end_work').on('click', function(e){
		// Check validations
		//var date = calendar.getDate();
		//alert("The current date of the calendar is " + date.toISOString());
		
		// New Work History
 		$.ajax({
			type : "PATCH", //요청 메소드 타입
			url : BASE_CONTEXT_PATH + "work/history", //요청 경로
			data : JSON.stringify({
				//로그인 아이디
				userId : id,
				//근무 구분 코드 (01: 출근, 02: 퇴근)
				workCode : WORK_CODE_END,
				//근무지 구분 코드 (01: 서울 본사, 02: 송도)
				workPlaceCode : workPlaceCode,
				//위도
				latitude : latitude,
				//경도
				longitude : longitude,
			}),
			contentType : "application/json", //요청 컨텐트 타입 "application/x-www-form-urlencoded; charset=UTF-8"
			//dataType : "json", //응답 데이터 형식 명시하지 않을 경우 자동으로 추측
			success : function(data, status, xhr) {
				alert(id + "님, 업무종료가 정상 처리 되었습니다.");
				location.replace(BASE_CONTEXT_PATH+'calendar/'+ id);
			},
			error : function(xhr, status, error) {
				alert("에러 발생 !!");
			}
		});
	});
	
	// 업무 시작 (QR)
	$('#start_qr').on('click', function(e){
		console.log("start_work with QR");
		$('#modal-commute').modal('hide');
		$('#qrcode').html("");
		$('#qrmodal-commute').modal('show');

		data = JSON.stringify({
			//로그인 아이디
			userId : id,
			//근무 구분 코드 (01: 출근, 02: 퇴근)
			workCode : WORK_CODE_START,
			//근무지 구분 코드 (01: 서울 본사, 02: 송도)
			workPlaceCode : workPlaceCode,
			//위도
			latitude : 126.456209,
			//경도
			longitude : 37.440220,
		});
		console.log(data);
		
		var qrcode = new QRCode(document.getElementById("qrcode"), {
	        text: data,
	        width: 256,
	        height: 256,
	        colorDark : "#000000",
	        colorLight : "#ffffff",
	        correctLevel : QRCode.CorrectLevel.H
	    });
	 
	    $("#qrcode > img").css({"margin":"auto"});
		
	});
	// 업무 종료 (QR)
	$('#end_qr').on('click', function(e){
		console.log("end_work with QR");
		
		$('#modal-commute').modal('hide');
		$('#qrcode').html("");
		$('#qrmodal-commute').modal('show');

		data = JSON.stringify({
			//로그인 아이디
			userId : id,
			//근무 구분 코드 (01: 출근, 02: 퇴근)
			workCode : WORK_CODE_END,
			//근무지 구분 코드 (01: 서울 본사, 02: 송도)
			workPlaceCode : workPlaceCode,
			//위도
			latitude : 126.456209,
			//경도
			longitude : 37.440220,
		});
		
		var qrcode = new QRCode(document.getElementById("qrcode"), {
	        text: data,
	        width: 256,
	        height: 256,
	        colorDark : "#000000",
	        colorLight : "#ffffff",
	        correctLevel : QRCode.CorrectLevel.H
	    });
	 
	    $("#qrcode > img").css({"margin":"auto"});
	});
});

function memu_click(url){
	//id = document.getElementById("id");
	//sessionStorage.setItem("id", id.value);
	//alert("id:"+sessionStorage.getItem("id"));
	id = sessionStorage.getItem("id");
	
	window.location.href = "/" + url + "/"+id;
	
}
function market_click(url){
	//id = document.getElementById("id");
	//sessionStorage.setItem("id", id.value);
	//alert("id:"+sessionStorage.getItem("id"));
	id = sessionStorage.getItem("id");
	
	//window.open('http://localhost:8080?userId='+id, '_blank');
	//window.open('http://172.16.2.160:8080?userId='+id, '_blank');
	window.open('http://172.18.100.251:8080/?userId='+id, '_blank');
}
</script>