<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- Bootstrap -->
<!-- link rel="stylesheet" th:href="@{/libs/bootstrap/4.3.1/css/bootstrap.min.css}" -->
<link rel="stylesheet" th:href="@{/libs/bootstrap/3.4.1/css/bootstrap.min.css}">
<!-- Fontawesome -->
<link rel="stylesheet" th:href="@{/libs/fontawesome/5.10.1/css/font-awesome.min.css}">
<!-- AdminLTE -->
<link rel="stylesheet" th:href="@{/libs/AdminLTE/2.4.17/css/AdminLTE.min.css}">
<link rel="stylesheet" th:href="@{/libs/AdminLTE/2.4.17/css/skins/_all-skins.min.css}">
<!-- fullcalendar-->
<link rel="stylesheet" th:href="@{/libs/fullcalendar/4.2.0/css/core/main.min.css}">
<link rel="stylesheet" th:href="@{/libs/fullcalendar/4.2.0/css/daygrid/main.min.css}">
<link rel="stylesheet" th:href="@{/libs/fullcalendar/4.2.0/css/timegrid/main.min.css}">
<link rel="stylesheet" th:href="@{/libs/fullcalendar/4.2.0/css/list/main.min.css}">
<link rel="stylesheet" th:href="@{/libs/fullcalendar/4.2.0/css/bootstrap/main.min.css}">

<style>
/* Form input icon*/
.input-icons i { 
    position: absolute; 
} 
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
.icon { 
    padding: 10px; 
    min-width: 40px; 
} 
.input-field { 
    width: 100%; 
    padding: 10px; 
    text-align: center; 
} 
/* modal center */
.modal.modal-center {
  text-align: center;
}
  .modal.modal-center:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
.modal-dialog.modal-center {
  display: inline-block;
  text-align: left;
  vertical-align: middle; 
}
</style>