<div id="header">
	<div class="toolbar">
		<div id="logo" class="toolbar-section">
			<a class="toolbar-title-link" href="/admin">
			<!-- logo image -->
				<!--  <img src="/imgs/logo_transparent.png"> -->
				MyWorkChain Admin
			</a>
		</div>
		<div id="menu" class="toolbar-section">
			<nav id="basic-tab-bar" class="mdc-tab-bar tabs">
			  <a class="mdc-tab tab" href="/admin">
			  	<span class="menu-label">Dashboard</span>
			  	<span class="mdc-tab-indicator mdc-tab-indicator--active"><span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline" style=""></span></span>
			  </a>
<!-- 			  <a class="mdc-tab tab" href="/system/reward">
			  	<span class="menu-label">리워드</span>
				<span class="mdc-tab-indicator"><span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline" style=""></span></span>
			  </a> -->
			</nav>
		</div>
	</div>
</div>