<div class="mdc-layout-grid">
	<div class="mdc-layout-grid__inner">
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
			<div class="mdc-layout-grid__inner">
				<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 item-wrapper">
	    			{{>company_dashboard_companyinfo}}
	    			{{>company_dashboard_reward}}
	   		 	</div>
			</div>
			<hr>
			<div class="mdc-layout-grid__inner">
				<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 item-wrapper">
	    			{{>company_dashboard_workplacelist}}
	    		</div>
			</div>
			<br>
			<div class="mdc-layout-grid__inner">
				<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 item-wrapper">
	    		{{>company_dashboard_employeelist}}
	    		</div>
			</div>
		</div>
	</div>
</div>


