<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">	
	<!-- # LIBRARIES -->
	<!-- material component -->
	<link rel="stylesheet" href="/libs/material/css/material-components-web.min.css">
	<link rel="stylesheet" href="/libs/material/css/material-icons.css">
	<link rel="stylesheet" href="/libs/material/css/material.deep_purple-purple.min.css">

	<!-- JavaScript -->
	<!-- jQuery 3 -->
	<script src="/libs/jquery/3.3.1/dist/jquery.min.js"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="/libs/jquery-ui/1.11.4/jquery-ui.min.js"></script>
	<!-- Material component -->
	<script src="/libs/material/js/material-components-web.min.js"></script>
	<script src="/libs/material/js/material.min.js"></script>
	
	<!-- # CUSTOM -->
	<!-- CSS -->
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/company_style.css">
	<!-- JavaScript -->
	<script src="/js/common.js"></script>	
	<script src="/js/company.js"></script>
</head>