{{>company_head_included}}

<div id="company-dashboard" class="wrap task">
	<!-- HEADER REGION -->
	{{>company_header}}
	<!-- # HEADER REGION -->
	
	<!-- CONTENT REGION -->
	<div class="page-content">
		<!-- Side Menu -->
<!-- 		<div class="page_drawer" id="side-menu" >
			<nav class="mdc-drawer mdc-drawer--permanent mdc-typography">
			  <div class="mdc-drawer__content">
			    <nav id="icon-with-text-demo side-menu" class="mdc-list">
			      <a class="mdc-list-item mdc-list-item--activated" onclick="">
			      	기업고객
			      </a>
			    </nav>
			  </div>
			</nav>
		</div> -->
		
		<!-- Main Section -->
		<section class="page-main-section" id="content">
			{{>company_dashboard_content}}
		</section>
	</div>
	<!-- #CONTENT REGION -->
</div>