html,
body,
.ant-list {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: #232323;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 18px; }

h3,
h5,
h6 {
  font-size: 16px; }

p {
  font-size: 14px; }

button {
  width: 140px;
  height: 28px;
  border: solid 1px #ffffff;
  background-color: transparent;
  color: #ffffff;
  border-radius: 0; }

html,
body,
.root,
.app-container {
  overscroll-behavior-y: none; }

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

* {
  box-sizing: border-box; }

a {
  color: #3fcaff; }

.col-justify-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.col-justify-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.row-align-between {
  display: flex;
  align-items: space-between; }

.row-align-start {
  display: flex;
  align-items: flex-start; }

.row-align-center {
  display: flex;
  align-items: center; }

.row-align-end {
  display: flex;
  align-items: flex-end; }

.row-space-between {
  display: flex;
  justify-content: space-between; }

.row-space-around {
  display: flex;
  justify-content: space-around; }

.col {
  display: flex;
  flex-direction: column; }

.text-black {
  color: #0a0a0a; }

.text-grey {
  color: #a6a7a8; }

.text-light-grey {
  color: #e5e5e5; }

.text-off-white {
  color: #f4f4f4; }

.text-white {
  color: #fff; }

.text-blue {
  color: #3fcaff; }

.text-green {
  color: #0ab06a; }

.text-warning {
  color: #ff597a; }

.uppercase {
  text-transform: uppercase; }

.hover-link:hover {
  cursor: pointer;
  color: #ee0804;
  transition: color 0.5s; }

.simple-loading {
  width: 100%;
  height: 100%;
  color: #fff; }

.circular-loading {
  position: absolute;
  z-index: 99999;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #242424;
  color: #fff; }

.intime-letter {
  font-family: "Roboto Mono", monospace;
  color: #fff;
  font-size: 32px;
  width: 32px;
  text-align: center;
  font-weight: 400; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-radius: 0;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #232323 inset;
  transition: background-color 5000s ease-in-out 0s; }

@font-face {
  font-family: "hunt-icon";
  src: url("styles/fonts/hunt-icon.eot");
  src: url("styles/fonts/hunt-icon.eot?#iefix") format("embedded-opentype"), url("styles/fonts/hunt-icon.woff") format("woff"), url("styles/fonts/hunt-icon.ttf") format("truetype"), url("styles/fonts/hunt-icon.svg#hunt-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "hunt-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hunt-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook:before {
  content: "\61"; }

.icon-twitter:before {
  content: "\62"; }

.icon-pinterest-p:before {
  content: "\63"; }

.icon-link:before {
  content: "\64"; }

.clock {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 700px; }
  .clock .banner-container {
    width: 100vw;
    height: 700px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; }
    .clock .banner-container.fadeIn {
      opacity: 1; }
    .clock .banner-container .banner-img {
      position: relative;
      width: 100vw;
      height: 700px;
      object-fit: cover;
      z-index: 1; }
    .clock .banner-container .gradient {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 780px;
      z-index: 2;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 98%, #000000); }
  .clock .hidden {
    visibility: hidden; }
  .clock svg {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    visibility: hidden; }
  .clock .intime,
  .clock .timeLabel,
  .clock .meridianLabel,
  .clock .meridianSublabel,
  .clock .bellBtnLabel,
  .clock .digitalTimeLabel {
    font-family: "Roboto", sans-serif;
    text-anchor: middle;
    fill: #979797;
    font-size: 10px; }
  .clock .nameGroup {
    position: absolute;
    top: 25%;
    left: -3000px;
    z-index: 600; }
  .clock .name-header {
    position: relative;
    left: -50%;
    margin: auto;
    color: #fff;
    font-size: 48px;
    font-weight: bold; }
  .clock .job {
    position: relative;
    left: -50%;
    font-size: 12px;
    text-align: center;
    font-size: 24px; }
  .clock .nextDayBtn,
  .clock .prevDayBtn {
    cursor: pointer;
    font-size: 21px; }
  .clock .bellBtn text,
  .clock .nextDayBtn text,
  .clock .prevDayBtn text {
    font-size: 21px;
    fill: #d6dadd; }
  .clock .intime {
    font-size: 12px;
    fill: #fff; }
  .clock .meridianLabel {
    font-weight: bold;
    font-size: 20px;
    fill: #fff; }
  .clock .meridianSublabel {
    font-size: 8px;
    fill: #a6a7a8; }
  .clock .timeLabelBtn .timeLabelGroup {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .clock .bellBtn {
    cursor: pointer; }
  .clock text {
    user-select: none;
    -webkit-user-select: none; }

.step-chart-container {
  width: 100%;
  bottom: 0;
  overflow: visible; }

#step-chart {
  height: 200px;
  overflow-x: scroll;
  overflow-y: hidden; }
  #step-chart svg text {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    fill: #666;
    font-size: 12px; }
  #step-chart .line {
    fill: none;
    stroke: #ee0804;
    stroke-width: 1px; }
  #step-chart .path-fill {
    fill: none;
    opacity: 0.3;
    stroke: none; }
  #step-chart .axis .domain {
    fill: none;
    stroke: none; }
  #step-chart .axis .tick line {
    stroke: none;
    stroke-width: 1px; }
  #step-chart .tooltip .tooltip-line {
    fill: none;
    stroke: #ee0804;
    stroke-width: 1px;
    stroke-dasharray: 3px; }
  #step-chart .tooltip .tooltip-point {
    fill: #ee0804;
    stroke: #ee0804;
    stroke-width: 1px; }
  #step-chart .avg-line {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-dasharray: 5px; }

#line-chart {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0; }
  #line-chart .mouse_area {
    opacity: 0; }
  #line-chart .guides {
    stroke-width: 1px; }
  #line-chart .guides line {
    stroke: #ee0804;
    shape-rendering: crispEdges; }
  #line-chart .guides circle {
    fill: #ee0804;
    stroke: #348;
    opacity: 0.2; }
  #line-chart .rules line,
  #line-chart .rules path {
    shape-rendering: crispEdges;
    stroke: #000; }
  #line-chart .rules .minor {
    stroke: #bbb; }
  #line-chart .rules .domain {
    fill: none; }
  #line-chart .grid .tick {
    stroke: #ccc; }
  #line-chart .series path {
    fill: none;
    stroke: #ee0804;
    stroke-width: 3px; }
  #line-chart .line {
    fill: none;
    stroke: #ee0804;
    stroke-width: 3; }
  #line-chart .dot:nth-child(25) {
    fill: #232323;
    stroke: #ee0804;
    r: 10; }

.grid-card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 25vw;
  max-width: 360px;
  min-height: 474px;
  border: solid 0.5px #4f4f4f; }
  .grid-card .hover-layer {
    position: absolute;
    top: 0;
    left: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: left .5s ease-in-out; }
  .grid-card:hover .hover-layer {
    left: 0; }
  .grid-card .banner-container {
    width: 240px;
    height: 240px;
    margin-top: 22px;
    margin-bottom: 16px; }
    .grid-card .banner-container .banner-image {
      bottom: 0;
      left: 0;
      z-index: 9;
      width: 240px;
      height: 240px;
      border-radius: 120px;
      background-color: #ddd;
      object-fit: cover; }
  .grid-card .value {
    font-size: 24px;
    font-weight: bold; }
  .grid-card .name {
    font-size: 24px;
    font-weight: bold; }
  .grid-card .job {
    font-size: 14px; }
  .grid-card .bottom-container {
    display: flex;
    width: 100%;
    margin-top: 30px; }
    .grid-card .bottom-container .bottom-item {
      flex: 1;
      padding-left: 10px;
      border-left: 2px solid #4f4f4f; }
      .grid-card .bottom-container .bottom-item .item-header {
        font-size: 9px; }
      .grid-card .bottom-container .bottom-item .item-value {
        font-size: 14px;
        font-weight: bold; }

.order-book {
  max-width: 500px;
  margin: 20px !important; }
  .order-book .order-book-title {
    padding: 20px;
    text-align: start;
    font-weight: bold; }
  .order-book .ant-card-body {
    padding: 0; }
  .order-book .change-text {
    text-align: center;
    padding: 20px;
    color: #e2323a; }
    .order-book .change-text span {
      font-size: 12px; }
  .order-book div {
    flex: 1;
    text-align: end; }
  .order-book .order-item {
    position: relative;
    padding: 10px 25px;
    cursor: pointer; }
    .order-book .order-item .fill-background {
      position: absolute;
      right: 0;
      height: 100%; }
    .order-book .order-item .price {
      font-weight: 500;
      text-align: start; }
    .order-book .order-item.buy {
      background-color: #fef4f4; }
      .order-book .order-item.buy .fill-background {
        background-color: #e2323a;
        opacity: 0.2; }
      .order-book .order-item.buy .price {
        color: #e2323a; }
      .order-book .order-item.buy:hover {
        background-color: rgba(226, 50, 58, 0.5); }
    .order-book .order-item.sell {
      background-color: #eef3fd; }
      .order-book .order-item.sell .fill-background {
        background-color: #3077e8;
        opacity: 0.2; }
      .order-book .order-item.sell .price {
        color: #3077e8; }
      .order-book .order-item.sell:hover {
        background-color: rgba(48, 119, 232, 0.5); }

.trade-history {
  width: 500px;
  margin: 20px !important; }
  .trade-history .ant-card-body {
    padding: 0; }
  .trade-history .title {
    padding: 20px;
    text-align: start;
    font-weight: bold; }
  .trade-history .content {
    padding-bottom: 10px; }
  .trade-history .header {
    padding: 0 20px;
    border-bottom: 1px solid #eee; }
    .trade-history .header div {
      flex: 1;
      text-align: end; }
      .trade-history .header div:first-child {
        text-align: start; }
  .trade-history .history-item {
    margin: 5px 20px; }
    .trade-history .history-item div {
      flex: 1;
      text-align: end; }
      .trade-history .history-item div:first-child {
        text-align: start; }

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 500;
  top: 0;
  width: 100vw;
  padding: 20px 60px; }
  .header.fullscreen {
    transition: background-color 1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.65); }
  .header .header-name {
    font-weight: 400; }
    .header .header-name img {
      width: 24px;
      height: 24px;
      border-radius: 12px;
      object-fit: cover;
      margin-right: 8px;
      background-color: #a6a7a8; }
  .header button {
    background-color: transparent;
    width: 120px;
    height: 28px;
    border: solid 1px #a6a7a8;
    border-radius: 0;
    color: #a6a7a8; }

.buy-sell {
  width: 500px;
  margin: 20px !important; }
  .buy-sell .ant-card-body {
    padding: 0; }
  .buy-sell .tabs {
    border-bottom: 1px solid #ddd; }
  .buy-sell .tab-item {
    padding: 20px;
    font-weight: bold;
    cursor: pointer; }
    .buy-sell .tab-item.buy {
      color: #e2323a;
      border-bottom: 2px solid #e2323a; }
    .buy-sell .tab-item.sell {
      color: #3077e8;
      border-bottom: 2px solid #3077e8; }
    .buy-sell .tab-item.history {
      color: history000;
      border-bottom: 2px solid #000; }
  .buy-sell .content {
    padding: 20px; }
    .buy-sell .content input {
      border-radius: 0;
      text-align: end; }
    .buy-sell .content .input-item {
      margin: 10px 0; }
      .buy-sell .content .input-item .ant-input-number {
        width: 100%; }
      .buy-sell .content .input-item .row-select {
        width: 100%; }
        .buy-sell .content .input-item .row-select .ant-radio-button-wrapper {
          width: 25%;
          border-radius: 0;
          text-align: center; }
      .buy-sell .content .input-item .total-text {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        font-weight: bold;
        margin-top: 6px; }
    .buy-sell .content .row-category {
      min-width: 50px;
      margin-right: 16px;
      margin-top: 6px; }

.home {
  min-height: 100vh;
  padding: 80px 0; }
  .home .home-tab {
    max-width: 693px;
    font-size: 32px;
    text-align: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    color: #fff; }
    .home .home-tab .tabs {
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      margin-top: 40px;
      color: #a6a7a8; }
    .home .home-tab .tab-item {
      color: #a6a7a8; }
      .home .home-tab .tab-item.selected {
        color: #ee0804; }
  .home .token-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: scroll; }
  .login-page .logo {
    width: 140px;
    height: auto; }
  .login-page .ant-input-password,
  .login-page input {
    width: 240px;
    background: #232323;
    color: #fff;
    border-radius: 0; }
    .login-page .ant-input-password svg,
    .login-page input svg {
      fill: #fff; }
  .login-page .ant-input {
    margin-top: 20px;
    width: 240px;
    height: 32px;
    border: solid 1px #4f4f4f; }
  .login-page .ant-input-suffix {
    margin-top: 10px; }
  .login-page .sign-up-text {
    margin-top: 20px;
    font-size: 14px; }
  .login-page button {
    margin-top: 20px;
    font-size: 16px; }
  .login-page .dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #4f4f4f;
    border-radius: 100px;
    margin: 20px 0; }
    .login-page .dropzone .preview-image {
      width: 100%;
      height: 100%;
      border-radius: 999px;
      object-fit: cover; }

.transaction-page {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #191a1a; }
  .transaction-page .tooltip {
    pointer-events: none;
    position: absolute;
    z-index: 9;
    font-size: 12px;
    padding: 8px;
    background: #000;
    color: #fff;
    min-width: 160px;
    max-height: 240px;
    overflow-y: hidden; }
  .transaction-page .sidebar {
    position: absolute;
    height: 100%;
    width: 400px;
    padding: 20px;
    right: 0; }
  .transaction-page .time-transaction {
    background-color: #232323;
    font-size: 18px;
    font-weight: 500;
    padding: 20px; }
  .transaction-page .sidebar-content {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow-y: scroll; }
  .transaction-page .content {
    padding: 20px; }
    .transaction-page .content .value-title {
      font-size: 40px;
      font-weight: 400;
      line-height: 1;
      margin-top: 20px; }
      .transaction-page .content .value-title span {
        font-size: 24px;
        font-weight: 300; }
    .transaction-page .content .value-subtitle {
      color: #4f4f4f; }
    .transaction-page .content .filter-text {
      margin-top: 20px; }

.token-page {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  font-size: 18px; }
  .token-page button {
    width: 140px;
    height: 28px;
    border: solid 1px #ffffff;
    background-color: transparent;
    color: #ffffff;
    border-radius: 0; }
  .token-page .content {
    width: 800px;
    padding: 60px 0;
    border: 0px solid #4f4f4f;
    border-left-width: 1px;
    border-right-width: 1px; }
  .token-page .card-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    border: 0px solid #4f4f4f;
    border-bottom-width: 1px;
    border-top-width: 1px; }
  .token-page .token-info {
    position: relative; }
  .token-page .medium-card {
    width: 380px;
    min-height: 300px;
    text-align: center;
    border: 0px solid #4f4f4f; }
    .token-page .medium-card:first-child {
      border-right-width: 1px; }
    .token-page .medium-card:last-child {
      border-left-width: 1px; }
  .token-page .dollar-value {
    margin-top: 40px;
    font-size: 34px;
    font-weight: bold;
    line-height: 1; }
  .token-page .card-header {
    margin-top: 40px; }
  .token-page .card-subheader {
    font-size: 14px; }
  .token-page .buy-token {
    position: relative;
    z-index: 100;
    margin-top: 40px; }
  .token-page .donation-logo {
    width: 72px;
    height: auto;
    object-fit: contain;
    margin-top: 35px; }
  .token-page .hour-of-container {
    text-align: center;
    border-bottom: 1px solid #4f4f4f; }
    .token-page .hour-of-container .hour-description {
      padding: 0 20%;
      font-size: 24px;
      margin: 20px 0; }
    .token-page .hour-of-container .carousel-item {
      width: 100%;
      height: 474px;
      background-color: #ddd;
      object-fit: cover; }
    .token-page .hour-of-container .description {
      text-align: left;
      margin: 40px 60px 20px; }
    .token-page .hour-of-container .social-icons {
      text-align: left;
      margin-left: 60px;
      margin-bottom: 40px; }
      .token-page .hour-of-container .social-icons .social-icon {
        margin-right: 15px;
        cursor: pointer; }
  .token-page .graph-container {
    text-align: center; }
    .token-page .graph-container .graph {
      padding: 20px; }
  .token-page .buy-sell-container .buy-sell-header {
    margin-bottom: 20px; }
  .token-page .buy-sell-container .buy-sell-row {
    font-size: 14px;
    border-bottom: 1px solid #4f4f4f;
    padding: 0 20px; }
  .token-page .buy-sell-container .row-item {
    font-size: 14px;
    border-bottom: 1px solid #4f4f4f;
    padding: 5px 20px;
    cursor: pointer; }
    .token-page .buy-sell-container .row-item.last {
      background-color: rgba(0, 0, 0, 0.3); }
    .token-page .buy-sell-container .row-item div {
      flex: 1;
      text-align: left; }
    .token-page .buy-sell-container .row-item .percent {
      text-align: right; }
      .token-page .buy-sell-container .row-item .percent.positive {
        color: #3077e8; }
      .token-page .buy-sell-container .row-item .percent.negative {
        color: #e2323a; }
  .token-page .buy-sell-container .buy-button {
    margin: 40px 0; }
  .token-page .buy-sell-container .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-top: 1px solid #4f4f4f; }
    .token-page .buy-sell-container .input-container .sell-input-container {
      height: 32px;
      margin: 20px;
      margin-top: 40px; }
      .token-page .buy-sell-container .input-container .sell-input-container input {
        color: #fff;
        background-color: transparent;
        border-radius: 0;
        border: solid 1px #4f4f4f; }
      .token-page .buy-sell-container .input-container .sell-input-container .quantity-input {
        border-right-width: 0 !important;
        border-left-width: 0 !important; }
      .token-page .buy-sell-container .input-container .sell-input-container .up-down-container {
        display: flex;
        flex-direction: column; }
      .token-page .buy-sell-container .input-container .sell-input-container .up-down-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        height: 16px;
        width: 16px;
        color: #4f4f4f;
        border: solid 1px #4f4f4f;
        border-right-width: 0;
        cursor: pointer; }
      .token-page .buy-sell-container .input-container .sell-input-container .sell-button {
        height: 100%;
        background-color: #000;
        border: solid 1px #4f4f4f; }
  .token-page .buy-sell-container .current-token {
    font-size: 32px;
    font-weight: bold; }
    .token-page .buy-sell-container .current-token span {
      font-size: 16px;
      font-weight: 300; }
  .token-page .circulating-history {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: none;
    margin-top: 30px; }
    .token-page .circulating-history .token-burnt {
      font-size: 14px; }
  .token-page .no-orders {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px; }
